@import '../core/colors.less';

.emoji-search {
  width: 100%;
  display: block;
  padding: 11px 20px;
  margin: auto;
  max-width: calc(var(--content-width) - var(--horizontal-spacing) * 2);
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.search-container {
  box-sizing: border-box;
  padding: 20px var(--horizontal-spacing);
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  width: 100%;
}
