@import "../core/colors.less";

.emoji-search {
  width: 100%;
  display: block;
  border: 1px solid #ededed;
  padding: 8px 16px;
  max-width: 522px;
  position: fixed;
  background-color: @background-color;
  border-color: #9E9E9E;
  top: 20px;
}
.search-container {
  padding: 40px 0 40px;
  background-color: @background-color;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 552px;
}
